.App .instructions.draw {
    width: 100%;
    padding: 70px 20px;
}

.App .instructions {
    height: 100%;
    width: 100%;
    padding: 70px 20px;
    transition: .8s;
}

.App .instructions>h2 {
    margin-bottom: 20px;
}

.App .instructions>h3 {
    margin-bottom: 20px;
}

.App .instructions>h5 {
    margin-bottom: 20px;
}

.App .instructions>a {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--primary-color);
}

.App .instructions>a>svg {
    stroke: var(--font-color);
    margin-right: 10px;
}

.App .instructions pre {
    margin-bottom: 20px;
    white-space: pre-wrap !important;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap !important;
    white-space: -o-pre-wrap !important;
    word-wrap: break-word !important;
    word-break: break-all !important;
}

.App .instructions i {
    background: var(--font-color);
    padding: 2px 5px;
    color: var(--primary-color);
    font-size: 8px;
}

@media only screen and (min-width: 920px) {
    .App .instructions.draw {
        width: 40%;
        padding: 50px 70px;
    }
    .App .instructions {
        height: 100%;
        width: 100%;
        padding: 50px 100px;
        overflow: auto;
    }
    .App .instructions>h2 {
        margin-bottom: 20px;
    }
    .App .instructions>h3 {
        margin-bottom: 20px;
    }
    .App .instructions>h5 {
        margin-bottom: 20px;
    }
    .App .instructions>a {
        display: block;
        margin-bottom: 20px;
        text-decoration: none;
        color: var(--primary-color);
    }
    .App .instructions pre {
        margin-bottom: 20px;
        white-space: pre-wrap !important;
        white-space: -moz-pre-wrap !important;
        white-space: -pre-wrap !important;
        white-space: -o-pre-wrap !important;
        word-wrap: break-word !important;
        word-break: break-all !important;
    }
    .App .instructions i {
        background: var(--font-color);
        padding: 2px 5px;
        color: var(--primary-color);
        font-size: 8px;
    }
}
/*
Name: Duotone Sea
Author: by Simurai, adapted from DuoTone themes by Simurai for Atom (http://simurai.com/projects/2016/01/01/duotone-themes)
Conversion: Bram de Haan (http://atelierbram.github.io/Base2Tone-prism/output/prism/prism-base2tone-sea-dark.css)
Generated with Base16 Builder (https://github.com/base16-builder/base16-builder)
*/

code[class*="language-"],
pre[class*="language-"] {
	font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: #1d262f!important;
    color: #57718e!important;
    text-shadow: none!important;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none!important;
	background: #004a9e!important;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none!important;
	background: #004a9e!important;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #4a5f78!important;
}

.token.punctuation {
	color: #4a5f78!important;
}

.token.namespace {
	opacity: .7!important;
}

.token.tag,
.token.operator,
.token.number {
	color: #0aa370!important;
}

.token.property,
.token.function {
	color: #57718e!important;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
	color: #ebf4ff!important;
}

code.language-javascript,
.token.attr-name {
	color: #7eb6f6!important;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
	color: #47ebb4!important;
}

.token.placeholder,
.token.variable {
	color: #47ebb4!important;
}

.token.deleted {
	text-decoration: line-through!important;
}

.token.inserted {
	border-bottom: 1px dotted #ebf4ff!important;
	text-decoration: none!important;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.important {
	color: #7eb6f6!important;
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: .4em solid #34659d!important;
	outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
	border-right-color: #1f2932;
}

.line-numbers-rows > span:before {
	color: #2c3847;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight {
	background: rgba(10, 163, 112, 0.2)!important;
	background: -webkit-linear-gradient(left, rgba(10, 163, 112, 0.2) 70%, rgba(10, 163, 112, 0))!important;
	background: linear-gradient(to right, rgba(10, 163, 112, 0.2) 70%, rgba(10, 163, 112, 0))!important;
}