* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary-color: #84fab0;
  --gradient-color: linear-gradient( to bottom, #84fab0, #8fd3f4);
  --primary-color-light: #ebf8ff;
  --background-color: #091014;
  --font-color: #edf8fd;
}

.App.draw {
  overflow: auto;
}

.App {
  background: var(--background-color);
  border-left-width: 20px;
  border-left-style: solid;
  border-image: linear-gradient( to bottom, #84fab0, #8fd3f4) 1 100%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}