@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --webkit-tap-highlight-color: transparent;
  color: var(--font-color);
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

code {
  font-family: 'Share Tech Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

@media only screen and (min-width: 920px) {
  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    height: 4px;
    width: 4px;
    background: var(--primary-color);
  }
  ::-webkit-scrollbar-track {
    background: var(--primary-color-light);
  }
}